.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.classroom_btn{
    width: 85%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w3-right{
    float:right;
}

@media (max-width: 820px) {
    .small-padding {
        padding-top: 100px!important;
    }

    .w3-right{
        float:left !important;
    }
}

.w3-button{
    border-radius: 5px;
    transition: background-color 0.3s;
}

.flag_css {
    border-left: 10px solid #ff5c2c!important;
}